* {
  padding: 0;
  margin: 0;
  max-width: 100%;
}
/* start header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
header i {
  color: #35a22c;
  font-size: 50px;
}
header a {
  color: white;
}
header .navbar .nav-item.active a {
  color: #35a22c;
}
header .navbar .nav-item a {
  position: relative;
  margin-right: 10px;
  transform: 0.3s;
}
header .navbar .nav-item a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #35a22c;
  transition: 0.3s;
}
header .navbar .nav-item a:hover {
  color: #35a22c;
}
header .navbar .nav-item a:hover::before,
header .navbar .nav-item.active a::before {
  width: 100%;
}


/* end header */
/* start carousel */
#carousel .carousel-item .item-bg {
  height: 100vh;
  min-height: 500px;
}
.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.carousel-caption img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}
.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
.carousel-item {
  position: relative;
}
.carousel-item::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 43, 54, 0.5);
}

.carousel-indicators .active {
  background-color: #35a22c;
}

.carousel-indicators {
  bottom: 50px;
}
/* animate css ~ https://animate.style/ */

/* end carousel */

/* Start Projects */
#projects .nav {
  justify-content: center;
}


#projects .card {
  border-radius: 16px;
  overflow:hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border:none;
  margin-top: 30px;
}

#projects .card-body {
  border: 2px solid transparent;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top:transparent;

}

#projects .card:hover .card-body {
  border-color: #35a22c;
}

#projects .card:hover .card-title {
  color: #35a22c;
}

#projects .nav-pills .nav-item a{
  border: 2px solid black;
  margin-right: 20px;
  position: relative;
}
#projects .nav-pills .nav-link.active , #projects .nav-pills .show >.nav-link {
  background-color: #35a22c;
  color: #fff;
  border-color: #35a22c;
}



/* End Projects */

/* Start Feature  */

#feature {
  background:url(image/3.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 120px;
  background-attachment: fixed;
  position: relative;
}

#feature .overlay {
  background: rgba (7, 10, 12, 0.72);
}

#feature .heading {
  position: relative;
}
#feature .heading h2 {
  font-weight: 700;
  font-size: 50px;

}

#feature .heading p {
  color: white;
  font-weight: 400;
  font-size: 16px;
}
#feature .feature__item {
  padding: 40px 40px;
  border-radius: 10px;
  background: rgba(255,255,255, 0.1);
  border: 1px solid rgba (255,255,255,0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}


#feature .feature__item i {
  font-size: 50px;
  color: #35a22c;
}

#feature .feature__item h4 {
  color: white;
  padding-top: 30px;
  font-weight: 800;
  line-height: 30px;
}

#feature .feature__item p {
  color: white;
  padding-top: 30px;
  font-size: 20px;
  line-height: 30px;
}

#feature .feature__content .feature__item:hover {
  outline: 1px solid white;
  background-color: black;
}

/* Start Award */

#award {
  position:relative;
  color: #585858;
  padding: 70px 0;
}

#award .award__bg{
  background-image:url(./image/memphis_3.png);
  position:absolute;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
 
}

#award .award__left {
  background: rgba(255,255,255,0.25);
  border-radius: 10px;
  border: 1px solid rbga(255.255.255,0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.3);
  padding: 45px;
}

#award .award__right {
  padding: 45px 0;
}

#award .award__left h2 {
  font-weight: bold;
  color: black;
}
/* End Award */



/* Start Footer */
footer {
  background: #222222;
}

footer a{
  color: #aaa;
}

footer p {
  color: #aaa;
  margin:0;
}

footer a:hover {
  color:#35a22c;
  text-decoration: none;
}

 footer .footer__main i {
  border-radius: 50%;
  outline: 1px solid #454545;
  line-height: 40px;
  width: 43px;
  height: 43px;
  transition: all 0.5s;
 }

 footer .footer__main a {
  margin-right: 10px;
 }
footer .footer__main a:last-child {
  margin-right: 0;
}

footer .footer__copies {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #454545;

}


footer .footer__copies p {
  font-size: 20px;

}
footer .footer__main i:hover {
  outline-color: #35a22c;
}
/* End Footer */


/* Reponsive header */
header .navbar-toggler {
  background-color: #35a22c;
}

header .navbar-toggler:hover {
  background-color: #0ea8cf;
}

@media screen and (max-width: 991.98px) {
  header .navbar-collapse {
    background-color: white;
    color: #35a22c;
}
  #navbarPort .nav-item {
    margin:0;
    padding: 0 10px;
  }

  #navbarPort .nav-item:hover {
    background-color: #35a22c;
  }

  #navbarPort .nav-item .nav-link {
    color: #35a22c;
  }

  #navbarPort .nav-item:hover .nav-link {
    color:#fff;
  }

  #navbarPort .nav-item:hover::after, #navbarPort .nav-item .active::after {
    width:0;
  }


}

@media screen and (max-width: 376px) {
  header .navbar-brand i {
    font-size: 8vw;
  }

  header .navbar-brand {
    font-size: 7vw;
  }
}

/* End Reponsive header */



/* Responsive carousel */
.carousel-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item:nth-child(1) {
  background-image:url("./image/finland.jpg");
}

.carousel-item:nth-child(2){
  background-image:url("./image/mountains.jpg");
}

.carousel-item:nth-child(3) {
  background-image:url("./image/mountains-1.jpg");
}

/* tại sao ở đây hình ảnh không ăn, mentor ơi */